body{
    background-color: rgba(0, 0, 255, 0.048);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Playfair Display", serif;
}
h1{
    color:whitesmoke;
}

p {
    color:cyan;
    font-size: 35px;
}

h2{
    color:white
}

.caixa {
    background-color: black;
    width: 300px;
    border: 2px solid rgb(6, 6, 252); 
}

.sem {
    padding: 0;
}

.com_padding {
    padding: 15px;
}

.com_margin {
    margin: 60px;
}